.profile-bg{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.camera-bg{
    border: 2px dashed rgb(149, 148, 148);
    border-radius: 50%;
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.upload-image{
    border-radius: 50%;
    height: 120px;
    width: 120px;   
    cursor: pointer;
}
.bg-profile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    margin: auto;
}

.image-upload-container{
    display: flex;
    align-items: center;
}
.file-upload{
    display: none;
}
.choose-image{
    color: black;
    border: 1px solid rgb(194, 192, 192);
    border-radius: 8px;
    font-weight: 600;
    /* margin-left: 3em; */
}

.footer-bg{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input-horizontal{
    border: 1px solid gray;
    width: 100%;
}
.text-profile{
    color:  #cdced0;
}
.nxt-profile{
    opacity: 0.3;
    cursor: not-allowed !important
}