.options-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.finish-options{
    opacity: 0.3;
    cursor: not-allowed !important;
}
