.root-bg{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.image-login{
    height: 100vh;
}

.login-bg{
    display: flex;
    justify-content: space-evenly;
    /* align-items: flex-start; */
    align-items: center;
    margin: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-form-bg{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.member{
    align-self: flex-end;
}
.bold-text{
    
    font-weight: bold;
}

.violate-text{
    color: rgb(15, 8, 228);
}

.error-text{
    color: red;
}
.ash-text{
    color: gray;
}
.sign-in-text{
    color: rgb(15, 8, 228);
}

.warning-text{
    color: red;
}
.success-text{
    color: green;
}
